<div class="row">
    <div class="col-md-8 mx-auto">
        <div id="success" class=" {{#if noMessages}}d-none{{/if}}" >

            <li class="list-group-item d-flex justify-content-between align-items-center" style="
                                    padding-left: 12px;
                                    padding-right: 12px;
                                    margin-top: 10px;
                                    ">
                <div>
                    <h6>{{ successMsg }}</h6>
                </div>
                <div>
                    <a href="/user/profile" type="button" class="btn btn-success">view order details</a>
                </div>
            </li>

        </div>
    </div>
</div>


<!------------->

{{# each products}}
    <div class="row">
        {{# each this}}
            <div class="col-sm-6 col-md-3">
                <div class="card" id="itemCard">
                    <img src="{{ this.imagePath}}" class="card-img-top" style="
                        padding-top: 0px;
                        padding-bottom: 0px;
                        " alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ this.title}}</h5>
                        <p class="card-text">{{ this.description}}</p>
                        <div class="price">
                            <b>${{ this.price}}</b>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-default">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}


