{{# if products}}
    <!---- Ordinal Cart Ends Here --->

    <div class="row">
        <div class="col-md-8 mx-auto" style="
            padding-top: 20px;
            padding-bottom: 20px; ">

            <h1>My Cart</h1>
            <hr>
                <div class="card">
                    <div class="card-body" style="
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 5px;">

                        <ul class="list-group" >
                            {{# each products}}
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="
                                    padding-left: 12px;
                                    padding-right: 12px;">

                                    <div>
                                        <strong>{{ this.item.title }}</strong>
                                        X  <strong>{{ this.qty }}</strong> Pairs
                                        <span class="badge badge-success badge-pill">${{ this.price }}</span>

                                    </div>
                                    <div>
                                        <div class="btn-group" >
                                            <button type="button" id="action-button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span> </button>
                                            <div class="dropdown-menu">
                                                <a href="/reduce/{{ this.item._id }}" class="dropdown-item">Reduce by One</a>
                                                <a href="/remove/{{ this.item._id }}" class="dropdown-item">Remove All</a>

                                            </div>
                                        </div>
                                    </div>

                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center ">
                        <strong>Total Price: ${{ totalPrice }}</strong>
                        <a  href="/checkout" type="button" class="btn btn-default" style="
                    background: #24a647;
                    color: white;
                    font-weight: 600;
                    outline: none;
                    width: 130px;
                    padding: 8px 10px;
                    border: none;">Checkout</a>
                    </div>
                </div>

        </div>

{{else}}
<!---- Empty Cart Layout --->

    <div class="row">
        <div class="col-sm-12 col-md-12 mx-auto">
            <div class="jumbotron-fluid text-center" style="padding-top: 200px; padding-bottom: 200px;">
                <h1>Your Cart is Empty</h1>
                <p>Please add something in your Cart.</p>
                <a href="/" class="btn btn-default" style="
                    background: #feca1a;
                    color: black;
                    font-weight: 600;
                    padding: 8px 10px;
                    border: none;">Continue Shopping..
                </a>
            </div>
        </div>

    </div>
    </div>

{{/if}}


