{{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
            <ul class="list-group">
                {{# each products}}
                    <li class="list-group-item">
                        <strong>{{ this.item.title }}</strong>
                        <span class="badge badge-success">$ {{ this.price }}</span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span> </button>
                            <div class="dropdown-menu">
                                <a href="/reduce/{{ this.item._id }}" class="dropdown-item">Reduce by One</a>
                                <a href="/remove/{{ this.item._id }}" class="dropdown-item">Remove All</a>

                            </div>
                        </div>
                        <span class="badge badge-pill badge-dark justify-content-between float-right">{{ this.qty }}</span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
            <strong>Total: ${{ totalPrice }}</strong>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
           <a  href="/checkout" type="button" class="btn btn-success">Checkout</a>
        </div>
    </div>

{{else}}
<!---- Empty Cart Layout --->

    <div class="row">
        <div class="col-sm-12 col-md-12 mx-auto">
            <div class="jumbotron-fluid text-center" style="padding-top: 200px; padding-bottom: 200px;">
                <h1>Your Cart is Empty</h1>
                <p>Please add something in your Cart.</p>
                <a href="/" class="btn btn-default" style="
                    background: #feca1a;
                    color: black;
                    font-weight: 600;
                    padding: 8px 10px;
                    border: none;">Continue Shopping..
                </a>
            </div>
        </div>

    </div>
    </div>

{{/if}}


