{{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
            <ul class="list-group">
                {{# each products}}
                    <li class="list-group-item">
                        <strong>{{ this.item.title }}</strong>
                        <span class="badge badge-success">$ {{ this.price }}</span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span> </button>
                            <div class="dropdown-menu">
                                <a href="/reduce/{{ this.item._id }}" class="dropdown-item">Reduce by One</a>
                                <a href="/remove/{{ this.item._id }}" class="dropdown-item">Remove All</a>

                            </div>
                        </div>
                        <span class="badge badge-pill badge-dark justify-content-between float-right">{{ this.qty }}</span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
            <strong>Total: ${{ totalPrice }}</strong>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
           <a  href="/checkout" type="button" class="btn btn-success">Checkout</a>
        </div>
    </div>

{{else}}

    <div class="row">
        <div class="col-sm-6 col-md-6 mx-auto">
            <h2>There are No Items In Your Cart!</h2>
        </div>
    </div>

{{/if}}


